@charset "utf-08";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    margin: auto;
    width: 60%;
    /* flex-direction: row-reverse; */
    /* flex-wrap: wrap; */
    /* flex-flow: row nowrap; */
    /* align-items: first baseline; */
    align-content: center;
    justify-content: space-around;
}

img {
    width: 100%
}

.item {
    width: 200px;
}

.item3 {
    /* order: -1; */
    align-items: start;
    background-color: red;
}