@charset "utf-08";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

@font-face {
    font-family: title;
    src: url(fonts/upheavtt.ttf);
}

@font-face {
    font-family: body;
    src: url(fonts/retro+gaming.ttf);
}

h3,h2,h1 {
    color: white;
    font-family: title;
}

p, a{
    color: white;
    font-family: body;
}

body {
    overflow-x: hidden;
    background-repeat: no-repeat;
    background-color: #161616;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='460' height='460' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%236540A5' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23FFFFFF'%3E%3Ccircle cx='769' cy='229' r='9'/%3E%3Ccircle cx='539' cy='269' r='9'/%3E%3Ccircle cx='603' cy='493' r='9'/%3E%3Ccircle cx='731' cy='737' r='9'/%3E%3Ccircle cx='520' cy='660' r='9'/%3E%3Ccircle cx='309' cy='538' r='9'/%3E%3Ccircle cx='295' cy='764' r='9'/%3E%3Ccircle cx='40' cy='599' r='9'/%3E%3Ccircle cx='102' cy='382' r='9'/%3E%3Ccircle cx='127' cy='80' r='9'/%3E%3Ccircle cx='370' cy='105' r='9'/%3E%3Ccircle cx='578' cy='42' r='9'/%3E%3Ccircle cx='237' cy='261' r='9'/%3E%3Ccircle cx='390' cy='382' r='9'/%3E%3C/g%3E%3C/svg%3E");
    background-size: 225%;
}

main {
    padding-bottom: 100px;
}

section {
    min-height: calc(85vh);
    padding: 15% 5rem;
}

.dropdown-menu {
    display: none;
}

/* ||  HEADER  ||*/

.header {
    transform: translate(15%, 5%);
    top: 0;
    left: 0;
    height: 80px;
    padding: 30px 70px;
    width: 80%;
    background-color: #6540a5;
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    border-radius: 50px;
}

.logo {
    color: white;
    font-size: 25px;
    font-weight: bold;
}

.navbar a {
    font-size: 15px;
    font-weight: bold;
    color: white;
    margin-left: 50px;
    transition: 0.25s;
}

.navbar a:hover,
.navbar a.active {
    color: orange;
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

/* ||  HOME  ||*/

.home {
    border: #6540a5 0.1rem solid;
    display: flex;
    align-items: center;
    align-self: top;
    text-align: center;
    justify-content: space-between;
    padding: 0 0;
    transform: translate(15%, 5vw);
    width: 80vw;
    background-color: #161616;
    border-radius: 50px;
}

.home-content {
    /* ||  CONTENT-TEXT  ||*/
    background-color: transparent;
    max-width: 45%;
    padding: 0 50px;
}

.home-content h1 {
    text-decoration: underline;
    font-size: 2.5rem;
}

.home-content p {
    color: white;
    margin-top: 30px;
    font-size: 0.85rem;
}

.home-content span {
    color: #6540a5;
    font-family: body;
}

.btn-box {
    /* ||  BUTTONS  ||*/
    display: flex;
    position: relative;
    align-items: center;
    margin: 0 auto;
    margin-top: 30px;
    justify-content: space-around;
    width: 35rem;
    height: 3.5rem;

}

.btn-box .btn {
    /* ||  BUTTONS  ||*/
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 85%;
    background-color: #6540a5;
    border-radius: .8rem;
    border: .2rem solid #6540a5;
    font-size: 1rem;
    color: #161616;
    font-weight: 700;
    letter-spacing: .1rem;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.btn-box .btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    background: #161616;
    color: #161616;
    z-index: -1;
    transition: 0.5s;
}

.btn-box .btn:hover:hover {
    color: #6540a5;
}

.btn-box .btn:hover::before {
    width: 100%;

}

.btn-box .btn:nth-child(2) {
    background: transparent;
    color: #6540a5;
}

.btn-box .btn:nth-child(2):hover {
    color: #161616;
}

.btn-box .btn:nth-child(2)::before {
    background: #6540a5;
}

.home-sci {
    /* ||  SOCIAL-MEDIAS  ||*/
    width: 200px;
    display: flex;
    justify-content: space-between;
    transform: translateY(250px);
}

.home-sci a {
    color: #6540a5;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background: transparent;
    border: solid .2rem #6540a5;
    border-radius: 50%;
    font-size: 25px;
    overflow: hidden;
    z-index: 1;
}

.home-sci a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: #6540a5;
    transition: 0.5s;
    z-index: -1;
}

.home-sci a:hover {
    color: #161616;
}

.home-sci a:hover::before {
    width: 100%;
}

.home-image {
    width: 50%;
    border-radius: 0 50px 50px 0;
    overflow: hidden;

}

.home-image img {
    width: 155%;
    height: 100%;
    background: transparent;
}

.overlay {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background: transparent;
    transition: background 1s;
    border-radius: 0 50px 50px 0;
}

.home-image:hover .overlay {
    background: #161616;
    opacity: 0.8;
}

/* PROJECTS */

.container-cards {
    border: #6540a5 0.1rem solid;
    position: absolute;
    transform: translate(15%, 10.5vw);
    text-align: center;
    background-color: #161616;
    width: 80vw;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    height: 95vh;
    justify-content: space-evenly;
    border-radius: 50px;
}

.cards-header,
.cards-content {
    width: 100%;
    padding: 5px 0;
    flex: 0 0 100%;
}

.cards-header h3,
.cards-content p {
    transform: translateY(-10vh);
    color: white;
}

.cards-header h3 {
    font-size: 50px;
}

.cards-content p {
    font-size: 20px;
}

.container-cards:hover .card:hover {
    transform: scale(1.0);
    z-index: 1;
}

.container-cards:hover .card:not(:hover) {
    opacity: 0.5;
}

.card {
    width: 300px;
    max-height: 250px;
    margin: 5px;
    transition: transform 0.3s ease, opacity 0.3s ease;
    opacity: 1;
}

.card img {
    width: 100%;
    transition: transform 0.3s ease;
}

.card:hover img {
    transform: scale(1.3);
}

/* ABOUT */

.about {
    border: #6540a5 0.1rem solid;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    align-self: top;
    text-align: center;
    padding: 0 0;
    transform: translate(15%, 127.5vh);
    width: 80vw;
    background-color: #161616;
    border-radius: 50px;
}

.heading {
    margin-top: 50px;
    font-size: 5rem;
    color: white;
}

.heading span {
    font-family: title;
    color: #6540a5;
}

.about-img {
    max-height: 375px;
    max-width: 375px;
    overflow: hidden;
}


.about-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    border-radius: 50%;
    border: solid .5em #6540a5;
}

.about-content {
    margin: 30px;
}

.about-content h3 {
    color: white;
    font-size: 3rem
}

.about-content h4 {
    color: white;
    font-size: 1.5rem
}

.about-content p {
    font-size: 1rem;
    margin: 2rem 0 3rem;
}

/* CONTACT */

.contact {
    border: #6540a5 0.1rem solid;
    max-height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 0;
    transform: translate(15%, 137.5vh);
    width: 80vw;
    background-color: #161616;
    border-radius: 50px;
}

.contact .heading {
    font-size: 50px;
    
    padding-top: 90px;
    margin-bottom: 50px;
}

.contact form {
    max-width: 70rem;
    padding-bottom: 8rem;

}

.contact form .input-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box .input-field {
    position: relative;
    width: 49%;
    margin: .8rem 0%;
}

.contact form .input-box .input-field input:focus,
.contact form .textarea-field textarea:focus {
    outline: none;
}

.contact form .input-box .input-field input,
.contact form .textarea-field textarea {
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: white;
    background: transparent;
    border-radius: .6rem;
    border: .2rem solid #6540a5;
}

.contact form .textarea-field {
    margin: .8rem 0 2.7rem;
}

.contact form .textarea-field textarea {
    width: 196%;
}


.contact form textarea {
    resize: none;
}

.contact .btn {
    cursor: pointer;
}

/* FOOTER */

.footer {
    border: #6540a5 0.1rem solid;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    transform: translateY(130vh);
    background-color: #161616;
}


.footer-sci {
    transform: translateX(-20.5vw);
}

.footer-sci a {
    color: #6540a5;
    width: 60px;
    height: 60px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: solid .15rem #6540a5;
    border-radius: 50%;
    overflow: hidden;
    z-index: 1;
    font-size: 35px;
    position: relative;
    margin-left: 10px;
}

.footer-sci a::before {
    background: #6540a5;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    transition: 0.5s;
    z-index: -1;
}

.footer-sci a:hover::before {
    width: 100%;
}

.footer-sci a:hover {
    color: #161616;
}

.footer-text p {
    font-size: 1.6rem;
}

.footer-text span {
    font-family: body;
    font-size: 1.6rem;
    color: #6540a5;
}

.footer-text span:hover {
    color: orange;
    cursor: pointer;
}

.footer-icon-top a {
    color: #6540a5;
    overflow: hidden;
    transform: translateX(20.5vw);
    position: relative;
    display: inline-flex;
    padding: .8rem;
    font-size: 35px;
    border-radius: 50%;
    background-color: transparent;
    border: solid 0.15rem #6540a5;
}

.footer-icon-top a::before {
    background: #6540a5;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    z-index: -1;
    transition: 1s;
}

.footer-icon-top a:hover::before {
    width: 100%;
}

.footer-icon-top a:hover {
    color: #161616;
}


/* | RESPONSIVINESS | */

@media screen and (max-width: 768px) {  

   
}