@charset "utf-08";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


body {
    margin: 0;
}

/* HEADER */

.header {
    top: 0;
    left: 0 ;
    padding: 30px 70px;
    width: 100%; 
    background-color: #6540a5;
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: space-between;

}

.logo {
    color: white;
    font-size: 25px;
    font-weight: bold;
}

.navbar a {
    font-size: 15px;
    font-weight: bold;
    color: white;
    margin-left: 50px;
    transition: 0.25s;
}

.navbar a:hover, .navbar a.active {
    color:orange;
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

/* ABOUT */

.container {
    height: 20vh;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding: 2.5vh;
    transform: translate(15%,10vw);
    width: 80vw;
    background-color: #161616;
    border-radius: 50px;
}

.home-content {
    max-width: 760px;
}

.container h1 {
    text-decoration: underline;
}

.container h1,h3 {
    color:white;
    margin-top: 1.5vh;
}

/* PROJECTS */

.container-cards{
    position: absolute;
    transform: translate(15%, 12.5vw);
    text-align: center;
    background-color: #161616;
    height: 400px;
    width: 80vw;
    margin: 0 auto;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 50px;
}


.card {
    width: 300px;
    max-height: 250px;
    margin: 5px;
    transition: all 1.3s cubic-bezier;
}

.card img:hover {
    width: 95%;    
}

.card:hover img:not(:hover) {
    filter: drop-shadow(#BA3B46);
}



.card img {
    width: 90%;
}

/* CONTACT */

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
}

